<!DOCTYPE html>

<html>

    <head>
        <title>Conflict Prediction</title> 

        <link rel="icon" href="/img/ns2Logo.jpg">

        <link rel="stylesheet" href="/css/mainStyles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>

        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/css">    
      
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin="">
        </script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        
        
    </head>

<body>
    



    <div class="main-content" id="main">

        {{!-- BEGIN SIDEBAR CONTENT --}}
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div><p id="sidebar-menu-label">Analytics Menu</p></div>
            <div id = "sidenav-buttons">

                <div class="sel sel--black-panther">
                    <select name="select-profession" id="select-profession" onfocus='this.size=3;'>
                        <option value="" disabled>Region</option>
                        <option value="Caribbean">Caribbean</option>
                        <option value="Caucasus and Central Asia">Caucasus and Central Asia</option>
                        <option value="Central America">Central America</option>
                        <option value="Eastern Africa">Eastern Africa</option>
                        <option value="Middle Africa">Middle Africa</option>
                        <option value="Middle East">Middle East</option>
                        <option value="North Africa">North Africa</option>
                        <option value="South America">South America</option>
                        <option value="South-East Asia">South-East Asia</option>
                        <option value="Southern Africa">Southern Africa</option>
                        <option value="Southern Asia">Southern Asia</option>
                        <option value="West Africa">West Africa</option>
                        
                    </select>
                </div>

                {{!-- <hr class="rule"> --}}

                <div class="sel sel--superman">
                    <select name="select-superpower" id="select-superpower">
                        <option value="" disabled>Superpower</option>
                        <option value="hacker">Power</option>
                        <option value="gamer">Speed</option>
                        <option value="developer">Acrobatics</option>
                        <option value="programmer">Accuracy</option>
                    </select>
                </div>

                {{!-- RADIO BUTONS BEGIN --}}

                <br><br><br>
                <h2 class="sidebar-label">Event type</h2>

                <div>
                <div class="eventtype-select-region" id="top">
                    <div class="pretty p-default p-curve p-thick p-smooth" id="checkbox-borders">
                        <input type="checkbox" />
                        <div class="state p-danger-o">
                            <label>Battles</label>
                        </div>
                    </div>
                
                    <div class="pretty p-default p-curve p-thick p-smooth" id="checkbox-borders">
                        <input type="checkbox" />
                        <div class="state p-danger-o">
                            <label>Explosions</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick p-smooth" id="checkbox-borders">
                        <input type="checkbox" />
                        <div class="state p-danger-o">
                            <label>Protests</label>
                        </div>
                    </div>
                </div>
                <div class="eventtype-select-region" id="middle">
                    <div class="pretty p-default p-curve p-thick p-smooth" id="checkbox-borders" style="padding-right: 10px;">
                        <input type="checkbox" />
                        <div class="state p-danger-o">
                            <label>Riots</label>
                        </div>
                    </div>
                    
                    <div class="pretty p-default p-curve p-thick p-smooth" id="checkbox-borders">
                        <input type="checkbox" />
                        <div class="state p-danger-o">
                            <label>Strategic Developments</label>
                        </div>
                    </div>
                </div>
                <div class="eventtype-select-region" id="bottom">
                    <div class="pretty p-default p-curve p-thick p-smooth" id="checkbox-borders">
                        <input type="checkbox" />
                        <div class="state p-danger-o">
                            <label>Violence against Civilians</label>
                        </div>
                    </div>
                    
                </div>
                </div>
                    



            </div>

            <div class="go-container">
                <a href="#" class="go-btn" id="go-id">Run Calculations</a>
            </div>
        </div>

        {{!-- BEGIN HEADING CONTENT --}}

        <!-- SideNav Hamburger Button -->
        <div class="title-items">
            <div>
            <span id="spanButton" onclick="openNav()">&#9776;</span>
            </div>
            {{!-- <h1 id="app-title">Global Conflict Analytics Platform</h1> --}}
            <div class="animated-text-container">
                <p class="text" id="anime-text-id-p">
                    <span class="text__first">
                        <span class="text__word">Global</span>
                        <span class="text__first-bg"></span>
                    </span>
                    <span class="text__second">
                        <span class="text__word">Conflict</span>
                        <span class="text__second-bg"></span>
                    </span>
                    <span class="text__first">
                        <span class="text__word">Analytics</span>
                        <span class="text__first-bg"></span>
                    </span>
                    <span class="text__second">
                        <span class="text__word">Platform</span>
                        <span class="text__second-bg"></span>
                    </span>                    
                </p>
                <div id="title-img-container"></div>
            </div>
            
        </div>

        {{!-- Map container --}}
        <div id="mapid"></div>


    </div>

    {{!-- Adding a footer underneath flex box --}}
    <div>
    <hr id="footer-line">
    <footer>
        <p id="footer-text">Created by the SAP NS2 Mission Innovation Group using data from ACLED, the World Bank, and the Fund for Peace</p>
    </footer>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TimelineLite.min.js"></script> 
    <script src="/js/text_elements/text_animation.js"></script>
    <script src="/js/leaflet/polygonAdd.js"></script>
    <script src="/js/UI_Components/selectBoxes.js"></script>  {{!-- For the side bar select box components--}}
    <script src="/js/UI_Components/sideBar.js"></script>  {{!-- For the side bar component--}}
    <script src="/js/leaflet/mapInfo.js"></script>
    <script src="/js/app.js"></script> 
</body>


</html>