.app-map {
    height: 45rem;
}

/* FOR THE INFO WIDGET ON MAP */
.mapInfo { 
    padding: 6px 8px; 
    font: 14px/16px Arial, Helvetica, sans-serif; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; 
}

.mapInfo h4 { margin: 0 0 5px;
    color: #777;
}


.tbl-flex {
    
    width: 49%;
    display: inline-block;
    max-height: 400px;
    overflow-x: hidden;  
}

#tbl-right {
    margin-left: 1.4%;
}

